* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(239, 235, 235);
}
:root {
  --bg-black: rgba(7, 0, 11, 0.841);
}
body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  justify-content: center;
  margin: 1rem;
}
#srch-result {
  background: var(--bg-black);
  padding: 1rem;
  border-radius: 0.5rem;
}
input {
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
}
button.srched-cities-btn {
  margin: 1rem;
  padding: 0.5rem;
  width: 50%;
  border-radius: 0.5rem;
  background-color: transparent;
  border: solid 0.05rem white;
}
button.srched-cities-btn:hover {
  width: 70%;
  font-size: larger;
  background: linear-gradient(
    to bottom right,
    rgba(179, 50, 189, 0.846) 15%,
    hsla(246, 88%, 47%, 0.781)
  );
}
#srch-btn {
  margin: 0.5rem 0;
  color: rgb(239, 235, 235);
  border-radius: 5.5rem;
  background: linear-gradient(
    to bottom right,
    rgba(179, 50, 189, 0.846) 15%,
    hsla(246, 88%, 47%, 0.781)
  );
}
#srch-btn:hover {
    font-size: 120%;
}
h1 {
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.65rem;
  font-size: 3rem;
  font-weight: 1000;
  color: rgb(239, 235, 235);
  background: var(--bg-black);
}
h3 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  /* padding: 1.5rem; */
}
h3#srch-label {
  font-size: 2rem;
  padding: 0.5rem;
}
#five-day h3 {
  margin-bottom: 2rem;
}
#srched-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h4 {
  font-weight: 700;
  color: orange;
}
#today-weather {
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-black);
}
#five-day {
  background-color: var(--bg-black);
  border-radius: 0.5rem;
  padding: 2rem 0;
}
#five-day-forcast {
  margin: 0;
}
.day {
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  border: solid 0.05rem white;
}
footer {
  text-align: center;
}

@media screen and (max-width: 414px) {
  /* h1.text-center {
    padding: 0;
    font-size: 3rem;
    font-weight: 1000;
    color: white;
    background-image: linear-gradient(to bottom right, red, #f3f303);
    margin: 0rem;
    border-radius: 20px;
    border: 3px solid rgb(247, 202, 197);
    box-shadow: 15px 15px 30px rgb(206 149 109);
  } */
}

@media screen and (max-width: 940px) {
  input#input-city {
    padding: 1rem 0;
    width: 12rem; 

  }
}

/* @media screen and (max-width: 1280px) {
  div.day.col-sm-2 {
    margin: 2px;
    padding: 2px;
    font-size: 0.95rem;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
  }
  h4 {
    font-size: 1.02rem;
    font-weight: bold;
  }
} */
